In [1]:
import numpy_financial as npf
import pandas as pd

In [2]:
def calculate_ear(nominal_rate, compounding_periods):
    """
    Calculates the Effective Annual Rate (EAR).

    Args:
        nominal_rate: The nominal interest rate (as a decimal).
        compounding_periods: The number of compounding periods per year.

    Returns:
        The Effective Annual Rate (EAR) as a decimal.
    """
    ear = (1 + nominal_rate / compounding_periods) ** compounding_periods - 1
    return ear
nominal_rate =[1,2,3,4,5,10,15,20,25,30,35,40]
data = {'semi_annual':[2],'quarterly':[4],'monthly':[12],'Daily':[365]}
for i in data.keys():
    for j in nominal_rate:
        data[i].append(calculate_ear(j/100,data[i][0]))
    data[i].pop(0)
data
data = pd.DataFrame(data)
data

    semi_annual  quarterly   monthly     Daily
0      0.010025   0.010038  0.010046  0.010050
1      0.020100   0.020151  0.020184  0.020201
2      0.030225   0.030339  0.030416  0.030453
3      0.040400   0.040604  0.040742  0.040808
4      0.050625   0.050945  0.051162  0.051267
5      0.102500   0.103813  0.104713  0.105156
6      0.155625   0.158650  0.160755  0.161798
7      0.210000   0.215506  0.219391  0.221336
8      0.265625   0.274429  0.280732  0.283916
9      0.322500   0.335469  0.344889  0.349692
10     0.380625   0.398676  0.411980  0.418830
11     0.440000   0.464100  0.482126  0.491498

In [4]:
def calculate_future_value(present_value, interest_rate, periods):
    """
    Calculates the future value of an investment.

    Args:
        present_value: The initial amount of the investment.
        interest_rate: The annual interest rate (as a decimal).
        periods: The number of compounding periods.

    Returnsbb
        The future value of the investment.
    """
    return present_value * (1 + interest_rate) ** periods
calculate_future_value(75000,0.07,24)

380427.5215039414

In [5]:
npf.fv(0.07/4, 4*6,0,75000)

-113733.20897937746

In [6]:
def calculate_effective_annual_rate(nominal_rate, compounding_periods):
    """
    Calculates the effective annual rate (EAR) given a nominal interest rate and the number of compounding periods per year.

    Args:
        nominal_rate (float): The nominal interest rate (as a decimal).
        compounding_periods (int): The number of compounding periods per year.

    Returns:
        float: The effective annual rate (as a decimal).
    """
    if nominal_rate < 0:
        raise ValueError("Nominal rate must be non-negative.")
    if compounding_periods <= 0:
        raise ValueError("Compounding periods must be greater than zero.")
    
    ear = (1 + nominal_rate / compounding_periods) ** compounding_periods - 1
    return ear
period= [365,2,4]
for i in period:
    if round(calculate_effective_annual_rate(0.04,i),4) == 0.0408:
        print(i)
    pass

365

In [7]:
ear = calculate_effective_annual_rate(0.03,365)
pv = 1000000
npf.fv(ear,4*365,0,pv)

-1.0503078711341186e+25

In [ ]:
import math

def calculate_logarithm(number, base):
  """Calculates the logarithm of a number with a given base.

  Args:
    number: The number for which to calculate the logarithm.
    base: The base of the logarithm.

  Returns:
    The logarithm of the number with the given base, or None if the input is invalid.
  """
  if number <= 0 or base <= 0 or base == 1:
    return None
  return math.log(number, base)

match.log()

In [ ]:
def calculate_future_value_ordinary_annuity(payment, rate, periods):
    """
    Calculates the future value of an ordinary annuity.

    Args:
        payment: The payment amount per period.
        rate: The interest rate per period.
        periods: The number of periods.

    Returns:
        The future value of the ordinary annuity.
    """
    if rate == 0:
        return payment * periods
    else:
        return payment * (( (1 + rate)**periods - 1) / rate)

In [12]:
ls = dict()
i = 0.01
while i <= 1:
    D = 9*(((1 + i)**10 - 1) / i)
    i = i + 0.01
    ls[i] = D
ls
9*(((1 + 0.015)**10 - 1) / 0.015)

96.32449501508941

In [13]:
0.015*100

1.5